.card{
    margin-top: 10%;
    height: 400px;
    background-color: lightgrey;
}
.card-title{
    font-style: italic;
}
.mb-3{
    margin-top: 75px;
}
input{
    margin-top: 20px;
}
#login{
    border-radius: 0px;
    width: 250px;
}